<script type="text/javascript">
    function getContent(){

        data_array = document.getElementsByClassName("data")
        return_data = {}
        for(var i = 0; i < data_array.length; i++){
            return_data[data_array[i].getAttribute('name')] = data_array[i].innerHTML
        }

        document.getElementById("return_text").value = JSON.stringify(return_data);
    }
</script>

<h2>{{agency_data.name}}</h2>
Phone: <div class="data" name="{{agency_data.slug}}_phone" contenteditable="true">{{agency_data.phone}}</div>

{% if office_data %}
<h2>Offices<h2>
    {% for office in office_data %}
        <h3>{{office.name}}</h3>
                Phone: <div class="data" name="{{office.slug}}_phone" contenteditable="true">{{office.phone}}</div>
    {% endfor %}
{% endif %}


<form id="form" action="" method="post" onsubmit="getContent()">
    {% csrf_token %}
    <input id="return_text" name="return_data" style="display:none" type="text">
    <input type="submit" value="Submit" />
</form>
