
{% if validated  %}
    <h3>Instructions</h3>
{% endif %}

<form action="" method="post">
    {% csrf_token %}
    {{management_form}}
    {% if validated %}
    <div style="display:none">
    {% endif %}
    {% for agency, form in data %}
        <h2>{{agency.name}}</h2>
        {% for input in form %}
            {{input}}
        {% endfor %}
    {% endfor %}
    <br>
    </div>
    {% if validated %}
     <input type="submit" name="download" value="Download">
     <input type="submit" name="return" value="Return" />
    {% else %}
    <input type="submit" value="Finished" />
    {% endif %}

</form>
